version: '3'

services:
  cinema-service:
    image: cinema-service
    build: .
    links:
      - mongodb
    depends_on:
      - mongodb
    volumes:
      - ./:/app/
    ports:
      - "7777:7777"
  mongodb:
    image: mvertes/alpine-mongo
    ports:
      ["21017:27017"]